.header{
    background-color: royalblue;
    width: 100%;
    height:42px ;
    padding: 0.05px 1px 8px 85px;
    position: fixed;
    
}
.list{
    display: inline-block;

}
.pics{
    height:20px ;
    width:20px ;
    margin: 0px 7px 7px 7px;
}
.para{
    display: inline-block;
    position: absolute;
    bottom: 2px;
    
    left:455px ;
    bottom: 15px;
    color: white;
    font-size: 16px;
}
.btn1{
    display: inline-block;
    position: relative;
    bottom:13px;
    left:710px;
     
}
.btn2{
    display: inline-block;
    position: relative;
    bottom:13px;
    left:715px;
     
}
.btn3{
    display: inline-block;
    position: relative;
    bottom:13px;
    left:720px;
     
}
button{
    border-radius: 2px;
    height: 30px;
    border:1px solid black
    

}
.div2{
    
    background-color: rgb(245, 245, 245);
    height: 65px;
    width:100%;
    padding: 30px 10px 10px 10px;
}
.bt1{
    display: inline-block;
    position:relative;
    top:23px ;
    left:600px ;
    
    
    
    
}
.bt2{
    display: inline-block;
    position:absolute;
    top:80px ;
    left:675px ;
}
.bt3{
    display: inline-block;
    position:absolute;
    top:80px;
    left:735px ;
    
    
}
 .bt4{
    display: inline-block;
    position:absolute;
    top:80px ;
    left:860px ;
}
.bt5{
    display: inline-block;
    position:absolute;
    top:80px ;
    left: 972px;
}
.bt6{
    display: inline-block;
    position:absolute;
    top:80px ;
    right:340px ;
}
.bt7{
    display: inline-block;
    position:absolute;
    top:80px;
    right: 260px ;
}
.size{
    border-radius: 20px;
    width:100%;
    border: none;
    color:black;
    font-weight: bold;
    background-color:  rgb(245, 245, 245);
    
}
.size:hover{
    background-color: royalblue;
    color: white;
}
.logo{
    position:absolute;
    top:60px;
    height:150 ;
    width:260px ;
}
.div3{
    height:100px ;
    width:100%;
}
.div4{
    height:32px ;
    background-color:royalblue;
    position: relative;
    top: 409px;
    left: 130px;
    width:1150px;
    
    
    
}
.parai{
    display: inline-block;
    color: white;
    position: relative;
    bottom: 9px;
    left: 10px;
    
}
.colour{
    color: yellowgreen;
    font-weight: bolder;
}
.div5{
    width:100%;
    height:750px;
    background-color:rgb(245, 245, 245) ;
    position: relative;
    top:420px;
    padding-top: 50px;
    padding-left:;
    padding-right: auto;
}
.intro{
    color: royalblue;
    text-align: center;
    font-size: 40px;
}
.spn{
    color: seagreen;
}
.paragraph{
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 18px;
    line-height: 1.5em;
    color: rgb(95, 89, 89);
    


}
.car{
    position: relative;
    left: 595px;

}
.div6{
    
    width:100%;
    height:300px;
    
    background-color:rgb(42, 88, 226);
    position: relative;
    top: 420px;
    border:1px solid black;




}
.money{
    height: 100%;
    width: 346px ;
    display: inline-block;
    
}
.fork1{
    padding: 70px 10px 10px 127px;
    height: 60px;
    width:100px
}
.main{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bolder;
    
    
}
.main1{
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bolder;
}
.monthly{
    color: rgb(29, 221, 11);

}
.div7{
    width:100%;
    height:675px;
    background-color:rgb(245, 245, 245) ;
    padding-top: 20px;
    padding-left: 75px;
    
    
    
    
    
    
    
    


}
.what{
    color: royalblue;
    padding-left: 438px;
    font-size: 35px;
    
    
    
}
.doing{
    color: seagreen;

}
.sadqa{
    display: inline-block;
    height:200px ;
    width:350px ;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    
    box-shadow:5px 5px 5px gainsboro;
    
    
    
    
    
    
}
.car2{
    padding-left:520px;
}
.sadqa2{
    display: inline-block;
    height:200px ;
    width:350px ;
    background-color: white;
    margin-top: 20px;
    margin-left: 40px;
    
    box-shadow:5px 5px 10px gainsboro;
    
    

}
.rib{
    height:75px ;
    width:90px;
    padding-top: 25px;
    padding-left: 130px;
    
}
.welfare{
    text-align: center;
    color: royalblue;
    font-size: 20px;

}
.mission{
    font-size: 25px;
    color: rgb(16, 65, 214);
    font-weight: bold;
    padding-left: 115px;
    padding-top: 35px;
}
.Small1{
    height:70px ;
    width:325px ;
    background-color:rgb(245, 245, 245) ;
    display: inline-block;
    margin-left: 115px;
    border: 1px solid rgb(230, 228, 228)
}
.Small2{
    height:70px ;
    width:325px ;
    background-color:rgb(245, 245, 245) ;
    display: inline-block;
    margin-left:30px;
    border: 1px solid rgb(230, 228, 228)
}
.Small3{
    height:70px ;
    width:325px ;
    background-color:rgb(245, 245, 245) ;
    display: inline-block;
    margin-left:115px;
    margin-top: 15px;
    border: 1px solid rgb(230, 228, 228)

}
.Small4{
    height:70px ;
    width:325px ;
    background-color:rgb(245, 245, 245) ;
    display: inline-block;
    margin-left:30px;
    margin-top:15px ;
    border: 1px solid rgb(230, 228, 228)
}
.lap{
    height:50px ;
    width:50px;
    padding-top: 13px;
}
.hap1{
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 20px;
    font-weight: bold;
    color: royalblue;
    
}
.corner{
    
    display: inline-block;
    height: 400px;
    width: 300px;
    position: absolute;
    top:1000px;
    margin-left: 40px;
    padding-left: 5px;
    padding-right: 5px;
    
    
    ;

}
.event{
    font-size: 25px;
    color: rgb(16, 65, 214);
    padding-top: 20px;
}
.test{
    text-align: justify;
    color: rgb(95, 89, 89);
}
.details{
    color: royalblue;
}
.charge{
    color:royalblue;
    text-align: center;
    padding-top: 125px;
    
}
.gallery{
    color: green;
}
.point{
    padding-left: 595px;
    
}
.adapter1{
    height: 135px;
    width: 225px;
    padding-left: 125px;
    padding-top: 20px;

}
.adapter2{
    height: 135px;
    width: 225px;

}

.adapter3{
    height: 135px;
    width: 225px;
    padding-top: 20px;

}
.adapter4{
    height: 135px;
    width: 225px;
}
.adapter5{
    height: 135px;
    width: 225px;
}
.div8{
    height:325px;
    width: 100%;
    background-color: rgb(42, 42, 42);
    margin-top: 150px;
}
.and{
    color: white;
    padding-top:80px;
    padding-left:175px ;
    line-height: 2em;
    font-size: 0.85em;
}
.one{
    
    height:100px;
    width:350px;
    
    position: relative;
    bottom: 225px;
    left: 550px;
}
.two{
    color: white;
    font-weight: bold;
}
.last{
    height:100px ;
    width: 300px;
    
    position: relative;
    bottom:340px ;
    left:915px ;

}
.finish{
    position: relative;
    bottom: 15px;
}









